docs/documentation/folder.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="file">
  <xs:complexType>
    <xs:sequence>
	
      <xs:element name="member">
        <xs:complexType>
          <xs:attribute name="cid" type="xs:integer" />
        </xs:complexType>
      </xs:element>
	  
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
</xs:element>

</xs:schema>